<div class="indexImg">
<div class="welcomeText">
        <h1>Welcome to MapUrVacation</h1>
        <h2>Now that you have created an account, </h2>
        <h2>please log in to start mapping.</h2>
</div>
</div>