<div class="indexImg">
    <div class="welcomeText">
        <h1>Welcome to MapUrVacation</h1>
        <h2>Please log in or create an account</h2>
        <h2>to:</h2>
    </div>
    <div class="possibleMaps">
        <div class="indexCard">
            <h3>Place Map Markers</h3>
            <img class="sampleMap" src="/images/mapMarkers.png" alt="">
        </div>
        <div class="indexCard">
            <h3>Draw Lines</h3>
            <img class="sampleMap" src="/images/mapLines.png" alt="">
        </div>
    </div>
    <div class="welcomeText">
        <h2>Create a graphical representation of your travels</h2>
        <h2>across the globe.</h2>
    </div>
</div>


