<div class="indexImg">
<section class="userMap">
  <div class="test">
    <div class="welcomeText">
      <h1>Welcome {{theUsername}}</h1>
      <h2>Please use the Map Search to find your Home Base and Save it.</h2>
    </div>
  </div>
  <form class="loginFields" action="/save-home-base" method="POST">
    <input type="text" name="theLongitude" id="longitude" />
    <input type="text" name="theLatitude" id="latitude" />
    <button type="submit">Save Home Base</button>
  </form>
  <div>
    <div id="map" style="width: 90%; height: 600px;left: 80px;"></div>
    <script src="javascripts/registerMapScript.js"></script>
  </div>
</section>
<br /><br /><br />
</div>